Repository zhangshijie666/lot-oto-h5: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, echo 'Skipping uni_modules'

de node
  .prettierignore
Due: none

de node
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

de node
  App.vue
  uni_modules/iii/uiii.vue
Due: prettier --write, echo 'Skipping uni_modules'

de node
  .prettierignore
  package.json
  uni_modules/iii/uiii.vue
Due: prettier --write, echo 'Skipping uni_modules'

de node
  .lintstagedrc.js
  .prettierignore
  uni_modules/iii/uiii.vue
Due: prettier --write, echo 'Skipping uni_modules'

de node
  .prettierignore
  uni_modules/iii/uiii.vue
Due: prettier --write, echo 'Skipping uni_modules'

de node
  .husky/commit-msg
  .lintstagedrc.js
  .prettierignore
  checkCommitMessage.sh
  utils/index.md
Due: prettier --write

修复了登录页的按钮显示问题
  .lintstagedrc.js
  checkCommitMessage.sh
  checkNoChinese.sh
  utils/index.md
Due: prettier --write

修复了登录页的按钮显示问题
  .husky/commit-msg
Due: none

哈哈哈
  .husky/commit-msg
  .lintstagedrc.js
Due: prettier --write

哈哈哈
  checkCommitMessage.sh
Due: none

哈哈哈
  .husky/pre-commit
  checkNoChinese.sh
Due: none

哈哈哈
  App.vue
Due: prettier --write

哈哈哈
  App.vue
  checkNoChinese.sh
Due: prettier --write

阿德
  .lintstagedrc.js
  App.vue
  checkNoChinese.sh
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,vue,css,scss,html,json}
  echo 'Skipping uni_modules': any of: uni_modules/**
